<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>RailsProject - Weather forecast</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<header><%= image_tag("logo.png", :alt => "Logo") %></header>
<%= yield %>
<footer>Emil Pluciennikowski</footer>
</body>
</html>
