<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>RailsProject - Prognoza pogody</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<header class="center"><%= image_tag("logo.png", :alt => "Logo", :id => "logo") %></header>
<nav class="center">
<a href="/">Strona glowna</a>
<a href="/numerical/forecast">Prognoza numeryczna</a>
<a href="/mailer/mailer">Subskrypcja</a>
</nav>
<div id="content" class="center">
<%= yield %>
</div>
<footer class="center">Emil Pluciennikowski</footer>

<script type="text/javascript">
var dayImage = document.getElementById("dayImage");
var nightImage = document.getElementById("nightImage");
var daySelect = document.getElementById("daySelect");

daySelect.onchange = function(){

  dayImage.src = "http://pogodynka.pl/http/assets/products/main_page_maps/day_"+this.options[this.selectedIndex].value+"d.jpg";
  nightImage.src = "http://pogodynka.pl/http/assets/products/main_page_maps/day_"+this.options[this.selectedIndex].value+"n.jpg";
}
</script>

</body>


</html>
