<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>RailsProject - Prognoza pogody</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<div class="strona center">
<header class="center"><%= image_tag("logo.png", :alt => "Logo", :id => "logo") %></header>
<nav class="center">
<a href="/">Strona glowna</a>
<a href="/numerical/forecast">Prognoza numeryczna</a>
<a href="/subscriptions">Subskrypcja</a>
</nav>
<div id="content" class="center">
<%= yield %>
</div>
<footer class="center">Emil Pluciennikowski 186200</footer>

</body>
</div>

</html>
